---
import '../global-styles.css'
import './styles/index.css'
import SearchBarComponent from '../components/SearchBarComponent/SearchBarComponent.astro'

const searchTermHandler = (searchTerm: string) => console.log('Usuario escribiendo:', searchTerm);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Freestyle Gallery</title>
	</head>
	<body>
		<SearchBarComponent client:load searchTermHandler={(e: string) => searchTermHandler(e)} />
	</body>
</html>